@import '_fonts';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}
body {
    background: #fff url('../logo/bg-picture.svg') right 0 top 105px no-repeat;
}
img {
    vertical-align: top;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    &.flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // margin-top: 79px;
        padding-top: 80px;
      }
}
main {
    width: calc(100% - 370px);
    // position: relative;
    // display: flex;
    // flex-direction: column;
  }
#header {
    padding: 13px 0;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 900;
    background-color: #fff;
    .tourney {
        font-size: 22px;
        line-height: 18px;
    }
}
.sidebar {
    width: 340px;
    position: sticky;
    top: 100px;
    left: 0;
    margin-top: 82px;
    margin-left: 10px;
    letter-spacing: 0.08em;
    white-space: nowrap;
    li {
        margin-bottom: 80px;
        position: relative;
        &::after{
            content: '';
            display: block;
            width: 365px;
            border-bottom: 1px solid #BDBDBD;
            position: absolute;
            bottom: -8px;
            left: 0;
        }
    }
  }
  .info {
    margin-top: 99px;
    margin-left: 44px;
  }
.info h2{
    // margin: 65px 0 40px 0;
    margin-bottom: 45px;
    position: relative;
    width: 234px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    white-space: nowrap;
    &::before {
        content: '';
        display: block;
        width: 100px;
        border-top: 8px solid #000000;;
        position: absolute;
        top: -28px;
        left: 0px;
    }
    sup {
        font-size: 17px;
        line-height: 30px;
        margin-left: 10px;
        position: absolute;
        top: -8px;
        right: -100px;
    }
}
p{
    font-size: 28px;
    line-height: 48px;
    margin-bottom: 99px;
}

.navigation_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & li:last-child{
        margin-left: auto;
    }
    a {
        text-decoration: none;
        color: #000000;
        &:visited {
            text-decoration: none;
            color: #000000;
        }
    }
}
.tourney {
    font-family: 'Tourney';
    margin-right: 54px;
}
.francois {
    font-family: 'Francois One';
}
.farro {
    font-family: 'Farro';
}
.pt_sans {
    font-family: 'PT Sans';
}
.underline {
    text-decoration: underline;
}
.pt_sans_italic {
    font-family: 'PT Sans';
    font-style: italic;
}
.pt_sans_bold {
    font-family: 'PT Sans Bold';
    font-weight: 700;
}
.staat {
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    margin-right: 10px;
}
.sidebar_link{
    color: #000000;
    text-decoration: none;
    font-size: 36px;
    line-height: 48px;
}
#introduction {
    margin-top: 0;
    margin-bottom: 39px;
}