@charset "UTF-8";
@font-face {
  font-family: "Icons";
  font-weight: normal;
  font-style: normal;
  src: local(""), url(../font/icomoon.woff) format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a, button {
  cursor: pointer;
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  padding-top: 23px;
  padding-bottom: 18px;
  border-bottom: 1px solid #EFEEF3;
}

.service {
  padding: 100px 0;
}
.service_subtitle {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 21px;
  color: #7690A8;
  margin-bottom: 15px;
}
.service_title {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  color: #16133D;
  margin-bottom: 32px;
}
.service_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.service_icons {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(61, 179, 112, 0.1);
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.service_header {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #16133D;
  margin-bottom: 15px;
}
.service_text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #16133D;
  margin-bottom: 26px;
  width: 275px;
}
.service_link {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.service_link a {
  color: #3DB370;
}
.service_border {
  padding: 40px;
  border: 1px solid #E5EAF4;
  border-radius: 8px;
}

svg {
  width: 39px;
  height: 37px;
}

.green_h:hover {
  cursor: pointer;
  stroke: #52C29D;
  border: 1px solid #3DB370;
}

.no_border:hover {
  border: none;
}

.footer {
  background: #16133D;
  padding: 40px 0;
}
.footer_logo {
  margin-bottom: 37px;
}

.link_list {
  width: 230px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link_list li {
  background-color: #EFEEF3;
  border-radius: 5px;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon:before {
  font-family: "Icons", sans-serif !important;
  color: #0D0D0D;
  -webkit-font-smoothing: antialiased;
  transform: scale(1);
  text-rendering: optimizeLegibility;
  font-size: 20px;
}

.icon:hover::before {
  color: #3DB370;
}

.icon-facebook-icon:before {
  content: "";
}

.icon-dribbble-icon:before {
  content: "";
}

.icon-github-icon:before {
  content: "";
}

.icon-instagram-icon:before {
  content: "";
}

.icon-twitter-icon:before {
  content: "";
}