input, select, textarea {
    margin-top: 15px;
}
label {
    width: 200px;
    display: inline-block;
}
button {
    margin-top: 10px;
}
.reset {
    margin-left: 40px;
    margin-right: 20px;
}
.agreement {
    width: auto;
    display: inline;
}