* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', cursive;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dead {
    margin-top: 150px;
    width: 700px;
    height: 600px;
    background: url(../img/death.jpg) center center/cover no-repeat;
    padding-top: 150px;
    border-radius: 10px;
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-size: 62px;
}
button {
    width: 200px;
    color: #fff;
    padding: 10px 0;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 10px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}
#increment_btn {
    background-color: darkred;
}