$base-size: 16;
$text-color: #262A3F;
$button-color: #F1897B;
$button-color-hover:#E64F3A;
$button-color-dark: #53F3CD;
$button-color-dark-hover:#02E0AB;
$grey-divider: #E4E4E4;

@mixin fz($size_px) {
    font-size: ($size_px / $base-size)*1rem;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
html, body {
    width: 100%;
    height: 100%;
  }
ul, ol {
    list-style: none;
  }

a, button {
    cursor: pointer;
    transition: all .3s ease;
  }  
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}
