* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a, button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1170px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}