@font-face {
  font-family: "Aleo Regular";
  font-weight: 400;
  src: url(../fonts/Aleo-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Josefin Light";
  font-weight: 300;
  src: url(../fonts/JosefinSans-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Josefin Regular";
  font-weight: 400;
  src: url(../fonts/JosefinSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Josefin Bold";
  font-weight: 700;
  src: url(../fonts/JosefinSans-Bold.woff2) format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a, button {
  cursor: pointer;
  transition: all 0.3s ease;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

body {
  font-family: "Aleo Regular";
  color: #fff;
}

.josefin_bold, #footer .footer_title, #header .logo a, .first_screen .header {
  font-family: "Josefin Bold";
  font-weight: 700;
}

.josefin_regular, .feedback_title, .card_header, .first_screen .link, .first_screen #input_main::placeholder {
  font-family: "Josefin Regular";
  font-weight: 400;
}

.josefin_light, .feedback_text, .card_text, .card_supheader, .choice_text {
  font-family: "Josefin Light";
  font-weight: 300;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  background-color: #5373FD;
  border: none;
}
.btn_medium {
  height: 52px;
  padding: 0 24px;
}
.btn_small {
  height: 60px;
  padding: 0 57px;
}
.btn_large {
  height: 60px;
  padding: 0 32px;
}
.btn_margin {
  margin-top: 32px;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.first_screen {
  height: calc(100vh - 84px);
  width: 100%;
  background: url(../img/firstscreen-min.png) center center/cover no-repeat;
}
.first_screen > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first_screen .header {
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.first_screen .subheader {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.31em;
  margin-bottom: 48px;
}
.first_screen .form_wrapper {
  width: 647px;
  position: relative;
}
.first_screen #input_main {
  width: 100%;
  outline: none;
  height: 60px;
  padding: 20px 0 20px 36px;
}
.first_screen #input_main::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  letter-spacing: 0.2em;
}
.first_screen .btn_medium {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px 5px 4px 0;
}
.first_screen .link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-top: 211px;
  position: relative;
}
.first_screen .link::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 37px;
  bottom: -17px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(227deg);
  cursor: pointer;
}

#header {
  height: 84px;
  background-color: #5373FD;
}
#header > .container {
  height: 100%;
}
#header .main_navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .nav_list {
  display: flex;
  gap: 40px;
}
#header .logo a {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#header .nav_list a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.choice {
  background: url(../img/secondscreen-min.png) center center/cover no-repeat;
  background-color: #656060;
  padding: 124px 0;
}
.choice > .container {
  display: flex;
  gap: 134px;
}
.choice_why {
  max-width: 634px;
  width: 100%;
  padding: 80px 0;
}
.choice_header {
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.choice_text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.choice .mrg_text {
  margin-bottom: 20px;
}
.choice_img {
  max-width: 424px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.choice_img_second {
  align-self: flex-end;
}

.search {
  background-color: #333333;
  padding: 107px 0 60px 0;
}
.search > .container {
  display: flex;
  justify-content: space-evenly;
}
.search_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_text {
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  margin-top: 20px;
}

.spain {
  background: url(../img/thirdscreen-min.png) center center/cover no-repeat;
  padding: 220px 0 120px 0;
}

.card {
  max-width: 648px;
  width: 100%;
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px;
}
.card_supheader {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}
.card_header {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.card_text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}

.house {
  background: url(../img/fourthscreen-min.png) center center/cover no-repeat;
  padding: 220px 0 120px 0;
}
.house > .container {
  display: flex;
  justify-content: flex-end;
}

.feedback {
  background: url(../img/fifthscreen-min.png) center center/cover no-repeat;
  padding: 120px 0 180px 0;
}
.feedback_header {
  text-align: center;
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
}
.feedback_wrapper {
  display: flex;
}
.feedback_info {
  padding: 48px 65px 48px 60px;
  background-color: #333333;
}
.feedback_title {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feedback_text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
}
.feedback .img_quotes {
  height: 20px;
  width: 20px;
}

#footer {
  background-color: #000;
  padding: 80px;
}
#footer .footer_title {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#footer .footer_subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin: 0 auto;
}

svg {
  width: 64px;
  height: 64px;
}

.search_icon_logo {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.pseudo {
  position: relative;
}
.pseudo::before {
  content: "";
  display: block;
  position: absolute;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 90px;
  left: 100px;
  top: 0;
  border-radius: 40%;
}
.pseudo::after {
  right: 71px;
  top: -73px;
  content: "";
  display: block;
  position: absolute;
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
  width: 413px;
  height: 219px;
  border-radius: 50%;
}