* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, ol {
  list-style: none;
}

a, button {
  cursor: pointer;
  transition: all 0.3s ease;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1320px;
}

header {
  height: 80px;
  width: 100%;
  background-color: blue;
  color: white;
}

.btn-hamb {
  margin-top: 20px;
  width: 40px;
  height: 3px;
  background-color: #fff;
  border: none;
  position: relative;
  z-index: 1000;
}
.btn-hamb::after, .btn-hamb::before {
  cursor: pointer;
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background-color: #fff;
  z-index: 1000;
}
.btn-hamb::after {
  top: 9px;
  left: 0;
}
.btn-hamb::before {
  bottom: 9px;
  left: 0;
}

#mobile_menu {
  width: 100%;
  height: 216px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: all 0.4s ease;
}

#mobile_menu.open {
  transform: translateY(0) !important;
}

#btn-toggle.cross {
  transform: scale(0);
  transform: translateY(0) rotate(-135deg);
}
#btn-toggle.cross::before {
  transform: translateY(0) rotate(90deg);
  bottom: 0;
}
#btn-toggle.cross::after {
  display: none;
}

#mobile_menu_list li {
  margin-bottom: 24px;
}

.nav_list a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.1em;
}